---
import Default from "./Default.astro";
import { SEO } from "astro-seo";

const { frontmatter } = Astro.props;
---

<Default title={frontmatter.title}>
	<SEO title={`${frontmatter.title} - worldwidepixel`} description={frontmatter.summary} />
	<div class="flex flex-col gap-4 py-16 text-sm">
		<span set:html={frontmatter.pageTitle} class="text-6xl font-bold" />
		{frontmatter.summary}
	</div>
	<div class="md">
		<slot />
	</div>
</Default>
